css Open In Editor Edit Copy code * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ACCCES COLORS */
  --clr-main: #005259;
  --clr-bg: #FAFBFF;

  /* ACCENTS COLORS */
  --clr-red: #EF736A;
  --clr-blue: #88ACEA;
  --clr-yellow: #F9C44E;
  --clr-green: #A9E0C9;

  /* PASTELS  COLORS */
  --clr-red-pastel: #FDEAE8;
  --clr-green-pastel: #EFF9F5;
  --clr-yellow-pastel: #FFF9EB;
  --clr-blue-pastel: #F0F5FD;

  /* CONTRAST COLORS */
  --clr-light: white;
  --clr-dark: #404040;

}

/* our own class color utilities */
.my-text-dark {
  color: var(--clr-dark);
}

/* RED */
.my-text-red {
  color: var(--clr-red);
}

.my-bg-red {
  background-color: var(--clr-red);
}

.my-bg-red-pastel {
  background-color: var(--clr-red-pastel);
}

/* GREEN */
.my-text-green {
  color: var(--clr-main);
}

.my-bg-green {
  background-color: var(--clr-main);
}

.my-bg-green-pastel {
  background-color: var(--clr-green-pastel);
}

/* BLUE */
.my-text-blue {
  color: var(--clr-blue);
}

.my-bg-blue {
  background-color: var(--clr-blue);
}

.my-bg-blue-pastel {
  background-color: var(--clr-blue-pastel);
}

/* YELLOW */
.my-text-yellow {
  color: var(--clr-yellow);
}

.my-bg-yellow {
  background-color: var(--clr-yellow);
}

.my-bg-yellow-pastel {
  background-color: var(--clr-yellow-pastel);
}

/* CLEAR-GREEN */

.my-text-clr-green {
  color: var(--clr-green);
}

.my-bg-clr-green {
  background-color: var(--clr-green);
}

/* taille cards */
.my-ratio{
  height: 230px;
}




body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: var(--clr-dark);
  background-color: var(--clr-bg);
}

.navbar {
  background-color: var(--clr-main) !important;

}

.user-profil {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* LOGO */
.navbar-brand {
  color: var(--clr-light);
  font-weight: 900;
  font-size: 2rem;
}

/* LIENS  BARRE DE NAVIGATION */
.nav-link {
  color: var(--clr-light);
  font-weight: bold;
  font-size: 1.3rem;
}

/* ICONES  BARRE DE NAVIGATION */
.icon {
  color: var(--clr-light);
  font-size: 1.7rem;
}

.icon-container {
  display: inline-block;


  margin: 0 20px;
  padding: 5px;
}

/* PHOTO BARRE DE NAVIGATION */
.profile-picture {
  display: inline-block;
  margin: 0 20px;
  padding: 5px;
}




/* FOOTER */
.container-footer {
  background-color: var(--clr-main) !important;
}

.social-icons {
  font-size: 1.7rem;
}





/* PAGE INDEX TWIG */

.bg-yellow {
  background-color: #F9C44E;
}

.my-overlay-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.482), rgba(0, 0, 0, 0.071));
}

/* Carroussel */
.custom-carousel-control-prev,
.custom-carousel-control-next {
  width: 5%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.custom-carousel-control-prev {
  left: -5% !important;
}

.custom-carousel-control-next {
  right: -5% !important;
}

.card_user-profil {
  width: 100%;
  aspect-ratio: 1/1;
  
}

.carousel-indicators{
  margin-bottom: -40px !important;
}

