css Open In Editor Edit Copy code * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ACCCES COLORS */
  --clr-main: #005259;
  --clr-bg: #FAFBFF;

  /* ACCENTS COLORS */
  --clr-red: #EF736A;
  --clr-blue: #88ACEA;
  --clr-yellow: #F9C44E;
  --clr-green: #A9E0C9;

  /* PASTELS  COLORS */
  --clr-red-pastel:rgba(239, 115, 106, 0.071);
  --clr-green-pastel: #EFF9F5;
  --clr-yellow-pastel: #FFF9EB;
  --clr-blue-pastel: #F0F5FD;

  /* CONTRAST COLORS */
  --clr-light: white;
  --clr-dark: #404040;

}

/* COLORS */
/* our own class color utilities */
.my-text-dark {
  color: var(--clr-dark);
}

/* RED */
.my-text-red {
  color: var(--clr-red);
}

.my-bg-red {
  background-color: var(--clr-red);
}

.my-bg-red-pastel {
  background-color: var(--clr-red-pastel);
}

/* GREEN */
.my-text-green {
  color: var(--clr-main);
}

.my-bg-green {
  background-color: var(--clr-main);
}
.my-bg-green-medium {
  color: var(--clr-main);
  background-color: var(--clr-green);
  &:hover{
    color: var(--clr-main);
    background-color: var(--clr-green);
  }
}

.my-bg-green-pastel {
  background-color: var(--clr-green-pastel);
}

/* BLUE */
.my-text-blue {
  color: var(--clr-blue);
}

.my-bg-blue {
  background-color: var(--clr-blue);
}

.my-bg-blue-pastel {
  background-color: var(--clr-blue-pastel);
}

/* YELLOW */
.my-text-yellow {
  color: var(--clr-yellow);
}

.my-bg-yellow {
  background-color: var(--clr-yellow);
}

.my-bg-yellow-pastel {
  background-color: var(--clr-yellow-pastel);
}


.my-bg-gray{
  background-color: #f3f3f3;
}

/* ----------------------------------------- */
/* ----   Style for elements  ----- */

/* CLEAR-GREEN */

.my-text-clr-green {
  color: var(--clr-green);
}

.my-bg-clr-green {
  background-color: var(--clr-green);
}

/* ----------------------------------------- */
/* ----   Style for buttons / elements  ----- */

.my-btn-red {
  background-color: var(--clr-red);
  transition: .25s;


  &:hover {
    transform: translateY(-5px);
    background-color: var(--clr-red);
  }
}

.my-btn-green {
  background-color: var(--clr-main);
  transition: .25s;

  &:hover {
    transform: translateY(-5px);
    background-color: var(--clr-main);
  }
}

.my-btn-yellow {
  background-color: var(--clr-yellow);
  transition: .25s;

  &:hover {
    transform: translateY(-5px);
    background-color: var(--clr-yellow);
  }
}

.my-btn-blue {
  background-color: var(--clr-blue);
  transition: .25s;

  &:hover {
    transform: translateY(-5px);
    background-color: var(--clr-blue);
  }
}



/* PALE-GREEN */

/* ----------------------------------------- */
/* ----   Style for link navigation   ----- */
.my-link-item-hover {

  position: relative;
  padding-bottom: 5px; /* Ajustez cette valeur en fonction de vos besoins */
  display: inline-block;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px; /* Épaisseur de la ligne */
  background-color: #fbf8f8; /* Couleur de la ligne */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Transition pour l'agrandissement */
}

.nav-link:hover::after {
  width: 100%; /* La ligne s'agrandit à 100% */
  left: 0; /* La ligne s'étend de gauche à droite */

  /* &:hover {
    background: var(--clr-bg);
    color: var(--clr-main);

  } */
}

a.my-active {
  background: var(--clr-bg);
  color: var(--clr-main);
}
img.my-active{
  border: 2px  solid var(--clr-bg);
}

/* Special situations */
/* taille cards */
.my-ratio {
  height: 280px;

}


/* --------------------------------------------- */

.my-circle {
  width: 40px !important;
  aspect-ratio: 1/1 !important;
  border-radius: 50%;
}


.my_slider_tilte_height {
  height: 50px;
}

/* --------------------------------------------- */
/* Reset */
img {
  object-fit: cover;
  width: 100%;
}


/* --------------------------------------------- */
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: var(--clr-dark);
  background-color: var(--clr-bg);
}

/* NAV NAVIGATION */
.navbar {
  background-color: var(--clr-main) !important;

}

.navbar-nav{
  z-index: 2000;
}


.user-profil {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

/* LOGO */
/* .navbar-brand {
  color: var(--clr-light);
  font-weight: 900;
  font-size: 2rem;
} */

.custom-logo {
  width: 30% !important; /* Smaller size for mobile devices */

}

@media (max-width: 992px) {
  .custom-logo {
      width: 30% !important; /* Smaller size for mobile devices */

  }
}

/* LIENS  BARRE DE NAVIGATION */
.nav-link {
  color: var(--clr-light);
  font-weight: bold;
  font-size: 1.3rem;
}

/* ICONES  BARRE DE NAVIGATION */
.icon {
  color: var(--clr-light);
  font-size: 1.4rem;
}

.icon-container {
  display: inline-block;
  margin: 0 20px;
  padding: 5px;
}

.onlineSpan{
  position: absolute;
  top: -6px;
  right: 6px;

}

/* PHOTO BARRE DE NAVIGATION */
.profile-picture {
  display: inline-block;
  margin: 0 20px;
  padding: 5px;
}




/* FOOTER */
.container-footer {
  background-color: var(--clr-main) !important;
}

.social-icons {
  font-size: 1.7rem;
}





/* PAGE INDEX TWIG */

.bg-yellow {
  background-color: #F9C44E;
}

.my-overlay-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.482), rgba(0, 0, 0, 0.071));
}

/* Carroussel */
.custom-carousel-control-prev,
.custom-carousel-control-next {
  width: 5%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.custom-carousel-control-prev {
  left: -5% !important;
}

.custom-carousel-control-next {
  right: -5% !important;
}

.card_user-profil {
  width: 100%;
  aspect-ratio: 1/1;

}

.carousel-indicators {
  margin-bottom: -40px !important;
}


/* CAROUSEL TITLE HR */

.hr {
  align-items: center;
  display: flex;
  text-align: center;
}

.hr::before,
.hr::after {
  background: #a6a4a47b;
  content: "";
  flex: 1;
  height: 0.06em;
  margin: 0 .5em;

}




/* PAGE ANNUAIRE */

.searchAnnuaire {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  height: 80px;

}


/* Supprimer le focus des inputs */
.inputSearch:focus {
  outline: none;
}

.directoryTitle{
  font-size: 60px;
}

.directoryHero{
  max-height: 40vh;
}



/* ----  Profile page Styles ------*/
.my-img-cover {
  height: 150px;
}

.my-img-profile {
  width: 150px;
  aspect-ratio: 1/1;
  border: 4px solid rgb(255, 255, 255);
  margin-top: -75px;
}

.menu_container li a {
  display: block;
  text-align: left;
  border: none;
  background: transparent;
  background: var(--clr-text-2);
  color: var(--clr-text-1);

  &:hover {
    background: var(--clr-main-pastel);
    color: var(--clr-text-1);
  }
}

.aside-menu-item{

  &:hover{
    background: var(--clr-green) !important;
    color: var(--clr-main) !important;
  }

  &.my-active{
    background: var(--clr-green);
    color: var(--clr-main);
  }

}

