
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de mot de passe</title>
    <style>
        .container {
            font-family: Arial, sans-serif;
            margin: 0 auto;
            padding: 20px;
            max-width: 600px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
        .header {
            text-align: center;
            padding: 10px;
            background-color: #005259;
            color: white;
            border-radius: 10px 10px 0 0;
        }
        .content {
            padding: 20px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            font-size: 16px;
            color: white;
            background-color: #005259;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            {# <img src="{{ asset('path/to/logo.png') }}" alt="Logo" width="100"> #}
        </div>
        <div class="content">
            <p>Bonjour,</p>
            <p>Vous avez oublié votre mot de passe Pacs Colombbus ?</p> 
            <p>Pour le réinitialiser, cliquez sur ce lien :</p>
            <a href="{{ url('app_reset_password', {'token': resetToken.token}) }}" class="button">Réinitialiser mon mot de passe</a>
            <p>Ce lien est valable 1 heure. Passé ce délai, vous devrez renouveler votre demande sur le site.</p>
            <p><strong>Si vous n'êtes pas à l'origine de la demande, vous pouvez ignorer ce message ou prendre contact avec l'administration de Colombbus <a href="">ici</a></strong></p>
            <p>Cordialement,</p>
            <p>L'équipe de Colombbus</p>
        </div>
    </div>
</body>
</html>
