<div class="col-lg-3 col-md-6 col-sm-12 min-vh-100 p-1">

	<div
		class="container-fluid bg-body-secondary rounded-2 p-1 h-100 w-100">
		{# Img cover #}
		<img class="my-img-cover w-100" src="https://cdn.pixabay.com/photo/2023/06/15/16/55/klatschmohn-8066026_1280.jpg" alt="Profile image cover">
		<img class="my-img-profile shadow-sm mx-auto d-block rounded-circle ratio ratio-1x1" style="" src="https://cdn.pixabay.com/photo/2016/11/18/19/07/happy-1836445_1280.jpg" alt="Image profile">
		<h3 class="text-center">Jasmine Bergstrom</h3>
		<a class="d-block text-center" href="mailto:allumini@gmail.fr">allumini@gmail.fr</a>
		<p class="text-center">Je suis à la recherche d’un stage dans le domaine du Développement web de 01/02/2024- 01/03/2024. .J'ai acquis HTML,CSS, JavaScript, PHP,SQL</p>


		<ul class="menu_container list-unstyled bg-white p-2 rounded">
			<h2 class="border-bottom border-3 border-success text-success">Profile</h2>
			<li>
				<span>Nom</span>
				Bergstrom</li>
			<li>
				<span>Prénom</span>Jasmin</li>
			<li>
				<span>address:</span>allumini@gmail.fr</li>
			<li>Mes likes</li>
			<li>Abonnement</li>
		</ul>
		{# Les options de menu côté gouche #}
		<ul class="menu_container list-unstyled bg-white p-2 rounded">
			<h2 class="border-bottom border-3 border-success text-success">Menu</h2>
			<li>
				<a href="actualité" class="btn btn-secondary">Fil d'actualité</a>
			</li>
			<li>
				<a href="actualité" class="btn btn-secondary">Ressource & bibliotéque</a>
			</li>
			<li>
				<a href="profil" class="btn btn-secondary">Mon profil</a>
			</li>
			<li>
				<a href="likes" class="btn btn-secondary">Mes likes</a>
			</li>
			<li>
				<a href="abonnement" class="btn btn-secondary">Abonnement</a>
			</li>
		</ul>

	</div>
</div>
