<div class="container-fluid container-footer ">
	<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 text-white justify-content-center ">
		<div class="col mb-3">
			<img src="{{ asset('assets/img/Logo_Colombbus.png') }}" alt="Photo de profil" ; style="width: 180px; height: auto;"/>
		</div>

		<div class="col mb-3">
			<h4 class="text-uppercase fw-bolder">Partenaires</h4>
			<div class="nav flex-column mt-3 mb-3">
				<img src="{{ asset('assets/img/logo_ville_paris.png') }}" alt="Photo de profil" style="width: 80px; height: 80px;"/>
			</div>
		</div>

		<div class="col mb-3">
			<ul class="nav flex-column ">
				<h4 class="text-uppercase fw-bolder">Accès rapide</h4>
				<li class="nav-item mb-2">
					<a class="nav-link p-0  text-white" {% if app.user %} href="#" {% else %} data-bs-toggle="modal" data-bs-target="#exampleModal" {% endif %}>Agenda</a>
				</li>
				<li class="nav-item mb-2">
					<a class="nav-link p-0  text-white" {% if app.user %} href="#" {% else %} data-bs-toggle="modal" data-bs-target="#exampleModal" {% endif %}>Annuaire</a>
				</li>
				<li class="nav-item mb-2">
					<a class="nav-link p-0  text-white" {% if app.user %} href="#" {% else %} data-bs-toggle="modal" data-bs-target="#exampleModal" {% endif %}>Emplois</a>
				</li>
				<li class="nav-item mb-2">
					<a class="nav-link p-0  text-white" {% if app.user %} href="#" {% else %} data-bs-toggle="modal" data-bs-target="#exampleModal" {% endif %}>Formations</a>
				</li>
			</ul>
		</div>

		<div class="col mb-3">
			<h4 class="text-uppercase fw-bolder">Contact</h4>
			<ul class="nav flex-column mt-3 mb-3">
				<li class="nav-item mb-2">
					<a href="https://www.colombbus.org/" target="_blank" class="nav-link p-0  text-white">Colombbus</a>
				</li>
				<li class="nav-item mb-2">
					<a href="mailto:pacs.alumni@colombbus.org" class="nav-link p-0 text-white">pacs.alumni@colombbus.org</a>
				</li>
			</ul>
			<div class="social-icons d-flex">
				<a href="https://www.facebook.com/colombbus" target="_blank" class="nav-link p-0  text-white">
					<i class="bi bi-facebook mx-2"></i>
				</a>
				<a href="https://www.instagram.com/associationcolombbus/" target="_blank" class="nav-link p-0  text-white">
					<i class="bi bi-instagram mx-2"></i>
				</a>
				<a href="https://x.com/colombbus" target="_blank" class="nav-link p-0  text-white">
					<i class="bi bi-twitter-x mx-2"></i>
				</a>
				<a href="https://fr.linkedin.com/company/colombbus" target="_blank" class="nav-link p-0  text-white">
					<i class="bi bi-linkedin mx-2"></i>
				</a>
			</div>
		</div>
	</footer>
</div>
